Your storage is almost full (93%). … Soon you won't be able to upload new files to Drive and send or receive emails in Gmail.Learn more
Buy storage

Suggested

main.css
You uploaded just now
Style Sheet

Untitled document
You opened just now
Google Docs

Useful Links
You edited yesterday
Google Docs

4 October - WebXR + Three.js
You edited in the past week
Google Slides

input.gltf
You opened today
Binary File

27 September - Creating Transcoder
You opened in the past week
Google Slides

Screen Recording 2022-10-03 at 9.36.19 PM.mov
You opened in the past week
Video

Useful Links
Based on past activity
Google Docs

redandblack_vox10_1749.ply
You opened in the past week
Binary File

Head Mouted Display Updates-20/27-09-22
Based on past activity
Google Slides
Name
Owner
Last modified
File size

BackUp PC
me
Sep 30, 2022
—

My INC
me
Aug 31, 2022
—

Untitled folder
me
Aug 16, 2022
—

In-Network Computing
me
Jul 27, 2022
—

MLProject
me
Apr 6, 2022
—
Style Sheet
main.css
me
Oct 6, 2022
1 KB
Google Slides
Untitled presentation
me
Aug 18, 2022
4 KB
Google Apps Script
Untitled project
me
Aug 2, 2022
—
Google Slides
Untitled presentation
me
Jul 27, 2022
4 KB
Google Slides
Vagrant installation and more

me
Jul 25, 2022
10.1 MB
Google Docs
Untitled document
me
Jun 21, 2022
1 KB
Google Docs
youtube 1
me
Jun 13, 2022
1 KB
Google Slides
Python slides
me
Jun 12, 2022
806 KB
PowerPoint
Copy of COMP6411 (1).pptx
me
Jun 12, 2022
3.6 MB
Google Slides
Untitled presentation
me
Jun 11, 2022
8 KB
Google Docs
Draft for project
me
Jun 11, 2022
4.1 MB
Google Docs
Copy of Project Paper 6411 A
me
Jun 11, 2022
4.7 MB
Google Docs
Untitled document
me
May 13, 2022
2 KB
Google Docs
Untitled document
me
May 13, 2022
1 KB
PDF
A - Fiche d'évaluation des besoins ANGLAIS.pdf
me
Apr 25, 2022
897 KB
PDF
Study Permit.pdf
me
Apr 25, 2022
1.1 MB
PDF
A - FOR_MIFI_temps_partiel_anglais_A-0592_AO.pdf
me
Apr 25, 2022
274 KB
Google Docs
Untitled document
me
Apr 12, 2022
613 KB
Google Docs
Untitled document
me
Apr 12, 2022
1 KB
Binary File
Assignment-COMP-6321.ipynb
me
Apr 12, 2022
718 KB
Unknown File
Farzaneh Ghasemi Javid_Assignment-COMP-6321.ipynb
me
Apr 11, 2022
691 KB
Google Docs
Untitled document
me
Mar 30, 2022
2 KB
Google Sheets
Final presentation - Pie chart 1

me
Dec 13, 2021
1 KB
Google Slides
Untitled presentation
me
Nov 16, 2021
78 KB
Google Docs
Untitled document
me
Nov 16, 2021
2 KB
Unknown File
Untitled Diagram.drawio
me
Nov 9, 2021
2 KB
Google Docs
Untitled document
me
Oct 31, 2021
2 KB
PDF
CU_ADMP_GAE (2).pdf
me
Sep 19, 2021
185 KB
Google Docs
Untitled document
me
Apr 23, 2021
—
Google Docs
Untitled document
me
Apr 17, 2021
—
Google Sheets
سرفصل های آموزش
me
Apr 5, 2021
—
Google Jamboard
gvt-vaep-vzr - Jan 22, 2021

me
Jan 22, 2021
—
Google Sheets
Untitled spreadsheet
me
Nov 1, 2020
—
Google Docs
Untitled document
me
Nov 1, 2020
—
Google Sheets
Monthly budget
me
Nov 1, 2020
—
Google Sheets
2020 Calendar
me
Nov 1, 2020
—
Compressed Archive
Cover to Cover 2 mp3.rar
me
Jul 28, 2020
70.6 MB
PDF
Cover to Cover-Level 2.pdf
me
Jul 28, 2020
157.4 MB
Unknown File
Copy of Copy of Untitled Diagram.html
me
Feb 13, 2018
2 KB

New-Poster1 - Copy.jpg

me
Mar 7, 2017
12.7 MB
PDF
New-Poster1 - Copy.pdf

me
Mar 7, 2017
108.2 MB
PDF
3D Printing Poster.pdf

me
Feb 23, 2017
80.7 MB
Compressed Archive
SecureMail - Quick Reference Guide.pdf.zip
me
Nov 11, 2016
278 KB
Compressed Archive
Scan madarek.zip
me
Oct 27, 2016
9.9 MB
PowerPoint
A prosthetic arm that feels2.pptx

me
Oct 19, 2016
138.2 MB

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root {
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}